allow vold cache_block_device:blk_file rw_file_perms;
allow vold fuse_device:chr_file rw_file_perms;
allow vold mnt_media_rw_stub_file:dir rw_dir_perms;
allow vold system_block_device:blk_file getattr;
allow vold storage_stub_file:dir r_dir_perms;
allow vold unlabeled:filesystem { mount unmount };

# Allow vold to access fuse for fuse-based fs
allow vold fuse_device:chr_file rw_file_perms;

# NTFS-3g wants to drop permission
allow vold self:capability { setgid setuid sys_rawio };

allow vold efs_file:dir open;
allow vold mkfs_exec:file { execute read open execute_no_trans };
